.cart-container {
  margin-left: auto;
  cursor: pointer;
  img {
    width: 30px;
  }

  .cart-count {
    margin-left: -12px;
    background-color: black;
    color: white;
    padding: 0px 6px;
    border-radius: 10px;
  }
}
